.banner-img {
    margin-left: -448px;
    height: 420px;
    overflow: hidden;
    background: url('/sample.jpg');
    background-position: top right;
}

.text-indent {
text-indent: 60px;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.2s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}