$xs: 600px;


.banner-img {
    margin-left: -448px;
    height: 420px;
    overflow: hidden;
    background: url('/sample.jpg');
    background-position: top right;

    @media screen and(max-width: $xs) {
      margin-left: 0;
      height: auto;
      width: auto;;
    }
}

.text-indent {
text-indent: 60px;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.2s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}